{% extends 'news/base.html' %}
{% load static %}
{% block title %} Iqtisodiy xabarlar {% endblock title %}

{% block content %}

{% for news in iqtisodiy_news %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="{{ news.title}}"
                                                       style="width:50%"></a>
            <h3>{{ news.title}}</h3>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}
