{% extends 'news/base.html' %}
{% load static %}
{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}

    <h1>Parolni tiklash</h1>
    <p>Parolingizni o'zgartirish uchun quydagi malumotlarni to'ldiring</p>
    {% if validlink %}
    <form method="post"> {% csrf_token %}
    {{ form.as_p }}
      <p><button type="submit">parolni almashtirish </button></p>

    </form>
    {% else %}
      <p>siz noto'g'ri linkdan foydalandingiz: </p>

    {% endif %}

{% endblock content %}
